body{
    margin: 0;
}
.all{
    margin-left: 50px;
}
.first{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 10px;
}
h4{
    margin-block-start: 0;
    margin-block-end: 0;
}
.one{
    margin-block-start: 0;
    margin-block-end: 0;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: white;
    width : 60px;
    height : 25px;
    border-color: black;
    border-style: solid;
}
.content{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 30px;
    margin-left: 500px;
    margin-top: 0;
    
}
p{
    font-size: larger;
    margin-block-end: 0;
    margin-block-start: 0;
}
.icon{
    width: 20px;
    height: 20px;
}
img{
    height: 250px;
}
.two{
font-size: x-large;
}
.content3{
    margin-left: 200px;
}
.content1{
    border-color: black;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0;
    border-left: 0;
    
}


